.msgbox{
    font-size: 24px;
    background-color: cornflowerblue;
    text-align: center;
    width: 320px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.register{
    margin-top: -100px;
}

.login{
    margin-top: -50px;
}

.fullTd{
    border: solid black 1px;
}

.ageTd{
    border: solid black 1px;
}

.genderTd{
    border: solid black 1px;
}

.menuCzerwone{
    width: 320px;
    background-color: tomato;
    text-align: center;
}

.menuNiebieskie{
    width: 320px;
    text-align: center;
    background-color: cornflowerblue;
}

.menuZolte{
    width: 320px;
    background-color: sandybrown;
    text-align: center;
}