.msgbox{
    font-size: 24px;
    background-color: cornflowerblue;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

.menuCzerwone{
    background-color: tomato;
}

.menuNiebieskie{
    background-color: royalblue;
}

.menuZolte{
    background-color: sandybrown;
}