.msgbox{
    font-size: 24px;
    background-color: cornflowerblue;
    text-align: center;
    width: 300px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

td{
    border: solid black 1px;
}

.menuCzerwone{
    width: 300px;
    background-color: tomato;
    text-align: center;
}

.menuNiebieskie{
    width: 300px;
    text-align: center;
    background-color: cornflowerblue;
}

.menuZolte{
    width: 300px;
    background-color: sandybrown;
    text-align: center;
}